.sacramento-regular {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}
h1{
    font-family: "Sacramento" , cursive;
    color: #629FEF;
}
h2{
    font-weight: 700;
    font-size: 40px;
    color: #629FEF;
}
.hero-container{
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
    align-items: center;
}
.costume-line {
    border: none;
    border-top: 8px dotted #000000;
    width: 20%;
    margin: 60px auto;
}
.personal-information{
    width: 75%;
    margin: 0 auto;
}
.profile-container{
    display: flex;
    justify-content: center;
}
.profile-pic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.personal-information-Heading{
    text-align: center;
    margin-top: 2rem;
    font-weight: 700;
    font-size: 50px;
    color: #629FEF;
}
.personal-information-pragraph{
    text-align: center;
}
.resume-div{
    text-align: center;
}
.skills{
    width: 75%;
    margin: 0 auto;
}
.Skills-heading{
    text-align: center;
    margin-top: 2rem;
    font-weight: 700;
    font-size: 50px;
    color: #629FEF;
}
.Seo-Skills{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 20px;
    text-align: justify;
}
.SeoSkils-img{
    height: 300px;
    border-radius: 10%;
    grid-area: 1 / 1 / 3 / 2;
}
.skils-headings{
    grid-area: 1 / 2 / 1 / 3;
    text-align: center;
    margin-top: 2rem;
    font-weight: 700;
    font-size: 40px;
    color: #629FEF;
}
.WD-Skills{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 20px;
    text-align: justify;
}
.WdSkils-img{
    height: 300px;
    border-radius: 10%;
    grid-area: 1 / 1 / 3 / 2;
}
.contactme{
    text-align: center;
    width: 75%;
    margin: auto;
}
@media (max-width: 850px){
    .skills{
    width: 90%;
    margin: 0 auto;
    }
    .Seo-Skills{
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    text-align: justify;
    }
    .SeoSkils-img{
    margin: auto;
    height: 300px;
    border-radius: 10%;
    grid-area: 1 / 1 / 1 / 1;}
    .skils-headings{
    grid-area: 2 / 1 / 2 / 1;
    text-align: center;
    margin-top: 2rem;
    font-weight: 700;
    font-size: 28px;
    color: #629FEF;
    }
    .WD-Skills{
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    text-align: justify;
    }
    .WdSkils-img{
    margin: auto;
    height: 300px;
    border-radius: 10%;
    grid-area: 1 / 1 / 1 / 1;}
    .contactme{
    width: 90%;
    margin: auto;
    }
}
